{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    {% for phone in phones %}
        <div class="container">
            <div class="header">
                <h1><a href="{% url 'catalog' %}{{ phone.slug }}">{{ phone.name }}</a></h1>
            </div>
            <div class="content">
                <b>Стоимость {{ phone.price }}</b>
                <br>
                <img src="{{ phone.image }}">
                {% if phone.slug in request.path %}
                    <p>дата релиза: {{ phone.release_date }}
                        <br>
                            {% if phone.lte_exists == True %}
                                LTE: да
                            {% else %}
                                LTE: нет
                            {% endif %}
                        <br>
                    <h5><a href="{% url 'catalog' %}">Назад в каталог</a></h5>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}